/**
 * Configurações gerais
 * ---------------------------------------------------
 */

//Seletores
figure {
	@extend .no-margin;
}

img {
	@extend .no-lh;
}
a {
	@extend %transition;
}
body {
	@extend %transition;
	//padding-top: rem-calc(124);
	&.move {
		@include translateX(rem-calc(-250));
		position: fixed;
		@extend .p-left;
		@extend .p-top;
	}
}

#wrapper {
	padding-top: rem-calc(124);
}

//grid
.row {
	width: rem-calc(1160);
}

.bg-pattern {
	background: url("images/bar-left.png"),
        		url("images/bar-right.png");
  	background-repeat: repeat-y, repeat-y;
  	background-position: left, right;
}

//menu offcanvas
#nav-offcanvas {
	width: rem-calc(250);
	position: fixed;
	right: 0;
	z-index: 99999999;
	@include translateX(100%);
	@extend %transition;

	&.show {
		//@include translateX(0);
	}

	a {
		@extend .d-block;
		@extend .small-14;
		@extend .left;
		@extend .white;
		@extend .text-lite;
		@extend .text-up;
		padding: rem-calc(20);
		border-bottom: 1px solid tint($primary-color, 50%);

		&:hover {
			@extend .bg-white;
			@extend .aqua;
		}
	}
}

.close-mo-menu {
	background-color: rgba($black,.8);
	z-index: 999999999;
	display: none;

	&.show {
		display: block;
	}
}

//ajax loader
.loader-img {
	position: fixed;
	bottom: rem-calc(20);
	@extend .p-left;
	figure {
		@extend .bg-white;
		@extend .g-radius;
		padding: rem-calc(20);
		@include box-shadow(rgba($primary-color, 0.4) 0 0 25px, rgba($primary-color, 0.2) 0 0 3px 1px inset);
	}
}

//owl hacks
.owl-pagination {
	@extend .rel;
	@extend .hide-for-large-up;
	top: rem-calc(30);
}

.owl-page {
	span {
		@extend .bg-primary;
	}
	&.active {
		span {
			@extend .bg-aqua;
		}
	}
}

/**
 * Top bar
 * ---------------------------------------------------
 */
#top-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	@include transition(all .1s linear);

  	.icon-user, .icon-user-hover {
  		margin-right: rem-calc(10);
  	}

  	&.bar-fixed {
  		padding: rem-calc(10 20);
  		opacity: .9;
  		.logo {
  			@extend .large-3;
  		}
  	}
}

.logo {
	img {
		@extend .small-14;
		@extend .left;
	}
}

#main-menu,
.main-menu-items,
.logo {
	height: rem-calc(64);
	display: table;
	@extend %transition;
}

.main-menu-items {
	width: rem-calc(450);
	margin-left: rem-calc(10);

	a {
		@extend .white;
		&:hover {
			@extend .primary;
			@extend .text-under;
		}

		&.active {
			@extend .aqua;
		}
	}
	li {
		&:first-child {
			margin-left: 0;
		}
		&.current-menu-item {
			a {
				@extend .primary;
				@extend .text-under;
			}
		}
	}
}

.open-menu {
	display: none;
	width: rem-calc(70);
}

.register-button {
	width: rem-calc(237);
	float: right;

	a {
		@extend .small-14;
		@extend .text-medium;
		background-image: url("images/bg-button.png");
		background-repeat: no-repeat;
		background-position: bottom right;
	}

	&:hover {
		a {
			@extend .aqua;
			@extend .bg-white;
		}
		.icon-user {
			@extend .hide;
		}
		.icon-user-hover {
			@extend .d-iblock;
		}
	}
}

.event-date {
	width: rem-calc(110);
}

.icon-user {
	display: inline-block;
}

.icon-user-hover {
	display: none;
}

/**
 * Slider topo (home)
 * ---------------------------------------------------
 */
#main-slider {
	height: rem-calc(500);
	@extend .bg-aqua;
	@extend .rel;

	figcaption {
		@extend %transition;
		opacity: 0;
		@include translateY(rem-calc(-20));
		@extend .rel;
		z-index: 999;

		&.show {
			opacity: 1;
			@include translateY(0);
		}
	}
}

.slider-list {
	display: none;
}

#jpreBar {
	@extend .full-height;
	@extend .bg-primary;
}

.slide-text {
	margin-top: rem-calc(100);
}

.mask-white {
	background-color: rgba($white,.7);
	z-index: 99;
}

.slider-nav {
	width: rem-calc(50);
	height: rem-calc(50);
	font-size: rem-calc(28);
	@extend .white;
	@extend .d-table;
	border-radius: 100%;
	border: 3px solid $white;
	top: 40%;
	z-index: 9999;
	@extend .show-for-large-up;

	&.lf {
		left: rem-calc(20);
	}

	&.rt {
		right: rem-calc(20);
	}
}

.banners-bullets  {
	padding-top: rem-calc(20);
	@extend .hide-for-large-up;

	span {
		@extend .d-iblock;
		width: rem-calc(14);
		height: rem-calc(14);
		@extend .bg-primary;
		border-radius: 100%;
		margin: 0 rem-calc(5);
		cursor: pointer;

		&.cycle-pager-active {
			@extend .bg-ghost;
		}
	}
}

/**
 * Nós explicamos (home)
 * ---------------------------------------------------
 */
.about-list {
	li {
		@extend .d-block;
		@extend .divide-20;
		&:last-child {
			@extend .no-margin;
		}
	}
}

.about-item {
	width: rem-calc(350);
}

.icon-container {
	@extend .left;
	width: rem-calc(60);
}

.icon-doctor {
	bottom: rem-calc(-125);
}

.about-section {
	overflow: hidden;
}

/**
 * Apoio (home)
 * ---------------------------------------------------
 */
.apoio-section {
	background-image: url("images/bg-apoio.jpg");
	-webkit-background-size: 0 auto;
	background-size: 100% auto;
	background-attachment: fixed;
}

.get-down {
	top: rem-calc(-46);
	a {
		&:hover {
			@include rotate(-360deg);
		}
	}
}
.icon-get-down {
	&:hover {
		opacity: .7;
	}
}

.trace {
	width: rem-calc(530);
  	border-bottom: 1px solid $ghost;
  	@extend .abs;
  	top: rem-calc(41);
}

#apoio-slider {
	a {
		@include filter(grayscale(100%));
	  	opacity: .8;

	  	&:hover {
	  		@include filter(grayscale(0));
		  	opacity: 1;
	  	}
	}
}

.nav-apoio {
	font-size: rem-calc(40);
	top: rem-calc(126);
	@extend .show-for-large-up;

	&.lf {
		left: rem-calc(-26);
	}

	&.rt {
		right: rem-calc(-26);
	}

	a {
		&:hover {
			@extend .primary;
		}
	}
}

/**
 * Premios (home)
 * ---------------------------------------------------
 */
.premios-section,
.info-section {
	background: url("images/bg-geometric.png"),
        		url("images/bg-geometric-r.png");
    background-repeat: repeat-y, repeat-y;
  	background-position: left, right;
  	background-attachment: fixed;

  	.content {
  		padding-left: rem-calc(30) !important;
  		padding-right: 0 !important;
  	}
}

.winners-list {
	li {
		header {
			@extend %transition;
		}
		&:hover {
			header {
				@extend .bg-primary;
			}
		}
	}
}

.winner-header {
	padding: rem-calc(18 0);
	@extend .g-radius;
	background-image: url("images/btn-winner.png");
	background-repeat: no-repeat;
	background-position: right top;

	h4,h5 {
		@extend .no-margin;
	}
}

.accordion-navigation.type-1 {
	&.active {
		> a:first-child {
			@extend .primary;
			// @extend .text-bold;
			.icon-circle-down {
				@include rotate(-180deg);
				@extend .primary;
			}
		}
	}
	> a:first-child {
		border-bottom: 1px solid $silver;
		@extend .left;
		@extend .small-14;
		@extend .d-block;
	}
	.icon-circle-down {
		margin-top: rem-calc(7);
	}
}

.list-values {
	li {
		@extend .d-block;
		@extend .left;
		@extend .small-14;
		font-size: rem-calc(16);
		color: #999;
		@extend .pad-center-10;
		@extend .text-lite;

		&:not(:first-child) {
			border-top: 1px solid $vapor;
		}
	}
}

/**
 * Cronograma (home)
 * ---------------------------------------------------
 */
.bookmark-item {
	header {
		border-radius: $global-radius $global-radius 0 0;
		height: rem-calc(70);
		@extend .d-table;
		padding-left: rem-calc(20);
		padding-right: rem-calc(20);
	}
	margin-bottom: rem-calc(30);
}

.accordion-navigation.type-2 {
	@extend .d-block;
	@extend .left;
	@extend .small-14;

	&.active {
		> a:first-child {
			@extend .white;
			@extend .bg-ghost;
		}
		.icon-add {
			display: none;
		}
		.icon-minus {
			@extend .d-iblock;
		}
	}
	> a:first-child {
		border: 1px solid $ghost;
		margin: rem-calc(2 0);
		@extend .left;
		@extend .small-14;
		@extend .d-block;

		&:hover {
			@extend .white;
			@extend .bg-ghost;
			.icon-add {
				@extend .white;
			}
		}
	}

	.icon-add,
	.icon-minus {
		font-size: rem-calc(28);
	}
	.icon-minus {
		display: none;
	}

	.content {
		padding: 0 !important;
	}
}

.list-mod {
	a {
		@extend .column;
		border-bottom: 1px solid $silver;
		&:hover {
			@extend .bg-white;
			.see-details {
				display: inline;
			}
		}
	}
}

.see-details {
	display: none;
}

.reveal-modal {
	p {
		@extend .text-lite;
	}
}

/**
 * Footer
 * ---------------------------------------------------
 */
.address {
	margin-left: rem-calc(20);
}

.icon-html5 {
	margin-right: rem-calc(20);
}
.back-top {
	top: rem-calc(-70);
	@extend .show-for-medium-up;
}

/**
 * Mais informações
 * ---------------------------------------------------
 */
.info-section {
	//min-height: rem-calc(700);
}	

.nav-info {
	min-height: rem-calc(580);
	p {
		@extend .text-lite;
	}
}

.info-pager {

	a {
		@extend .text-up;
		@extend .text-bold;
		padding: rem-calc(0 10);

		&.cycle-pager-active,
		&:hover {
			@extend .aqua;
			@extend .text-under;
		}
	}
}