/**
 * 600px
 * ---------------------------------------------------
 */
@media #{$small-only} {
	#main-slider {
		height: rem-calc(300);
		figure {
			background-color: rgba($white,.7);
		}
	}
	.row {
		width: rem-calc(320);
		max-width: none;
	}
	.slide-text {
		margin-top: rem-calc(20);
		z-index: 9;
	}
	.white-mask {
		display: block;
		z-index: 1;
	}
	.register-button {
		display: none !important;
	}
	.open-menu {
		margin-top: rem-calc(8);
	}
	.about-item {
		width: rem-calc(240);
	}
	.trace {
		width: rem-calc(120);
	}
	.premios-section,.info-section {
		background: $white;
	}
	.bookmark-item {
		> header {
			h6 {
				font-size: rem-calc(14) !important;
			}
			span {
				font-size: rem-calc(12) !important;
			}
		}
	}
	.see-details {
		font-size: rem-calc(13);
	}
	.address {
		margin-left: rem-calc(0);
	}
	.footer-info {
		text-align: center;
		.icon-dc {
			float: none !important;
			display: inline-block !important;
			margin-bottom: rem-calc(20);
		}
	}
	.nav-info {
		figure {
			position: inherit !important;
			float: 0;
		}
	}
}

/**
 * 1024px
 * ---------------------------------------------------
 */
@media #{$medium-only} {
	.row {
		width: rem-calc(768);
		max-width: none;
	}
	#main-slider {
		height: rem-calc(390);
	}
	.slide-text {
		margin-top: rem-calc(40);
	}
	.about-item {
		width: rem-calc(688);
	}
	.trace {
		width: rem-calc(320);
	}
	.premios-section,.info-section {
		background: $white;
	}
	.winners-list {
		li {
			padding: 0 rem-calc(10) 3.75rem;
		}
	}
	.accordion {
		.icon-circle-down {display: none;}
	}
	.address {
		margin-left: rem-calc(0);
	}
	.footer-info {
		text-align: center;
		.icon-dc {
			float: none !important;
			display: inline-block !important;
			margin-bottom: rem-calc(20);
		}
	}
	.nav-info {
		figure {
			position: inherit !important;
			float: 0;
		}
	}
}

/**
 * 1367px
 * ---------------------------------------------------
 */
@media #{$large-up} {
	#top-bar {
		padding-left: rem-calc(100);
		padding-right: rem-calc(100);
	}
	#main-slider {
		[class^="icon-"], [class*=" icon-"] {
			@include translateY(rem-calc(4));
		}
	}
	.about-section {
		height: rem-calc(620)
	}
}

@media #{$xlarge-up} {
	#main-slider {
		height: rem-calc(590);
	}
}

@media only screen and ( max-width: rem-calc(1365) ) {
	.main-menu-items {
		display: none;
	}
	.open-menu {
		display: block;
	}
}

//outras
/*
@media only screen and ( max-width: rem-calc(1255) ) {
	#top-bar {
		padding-left: rem-calc(0);
		padding-right: rem-calc(0);
	}
	.register-text {
		font-size: rem-calc(14) !important;
	}
	.open-menu {
		width: rem-calc(70);
		h2 {
			float: right;
		}
	}
}

@media only screen and ( max-width: rem-calc(1355) ) {
	.main-menu-items {
		display: none;
	}
	.open-menu {
		display: block;
	}
}

@media only screen and ( max-width: rem-calc(800) ) {
	.event-date {
		display: none !important;
	}
	.icon-menu:before {
  		margin-top: rem-calc(12);
  		display: block;
	}
	.slide-text {
		width: 100%;
	}
}

@media only screen and ( max-width: rem-calc(600) ) {
	.register-button {
		display: none !important;
	}
	.logo {
		width: rem-calc(220);
	}
}*/