@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ud7nlj');
	src:url('fonts/icomoon.eot?#iefix-ud7nlj') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ud7nlj') format('woff'),
		url('fonts/icomoon.ttf?-ud7nlj') format('truetype'),
		url('fonts/icomoon.svg?-ud7nlj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
	content: "\e607";
}

.icon-access-time:before {
	content: "\e609";
}

.icon-keyboard-arrow-down:before {
	content: "\e600";
}

.icon-keyboard-arrow-left:before {
	content: "\e601";
}

.icon-keyboard-arrow-right:before {
	content: "\e602";
}

.icon-keyboard-arrow-up:before {
	content: "\e603";
}

.icon-chevron-left:before {
	content: "\e605";
}

.icon-chevron-right:before {
	content: "\e606";
}

.icon-menu:before {
	content: "\e604";
}

.icon-minus:before {
	content: "\e608";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-circle-up:before {
	content: "\ea41";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-circle-left:before {
	content: "\ea44";
}


/**
 * Placeholders
 * ---------------------------------------------------
 */
%transition {
	@include transition(all .3s linear);
}

/**
 * Font decoration
 * ---------------------------------------------------
 */
.text-italic {
	font-style: italic !important;
}

.text-under {
	text-decoration: underline;
}

.text-up {
	text-transform: uppercase;
}

/**
 * Line heights
 * ---------------------------------------------------
 */
.no-lh {
	line-height: 0 !important;
}

.lh-1 {
	line-height: 1;
}

.lh-normal {
	line-height: 1.2;
}

.lh-header {
	line-height: 1.4;
}

/**
 * Font size
 * ---------------------------------------------------
 */
.text-small {
	font-size: rem-calc(10);
}

.text-normal {
	font-size: rem-calc(12);
}

.text-medium {
	font-size: rem-calc(14);
}

/**
 * Font weights
 * ---------------------------------------------------
 */
.text-lite {
	font-weight: 300;
}

.text-regular {
	font-weight: 400;
}

.text-bold {
	font-weight: 700;
}

.text-extra {
	font-weight: 800;
}

/**
 * Font colors
 * ---------------------------------------------------
 */
.white {
	color: $white !important;
}

.ghost {
	color: $ghost !important;
}

.white-smoke {
	color: $white-smoke !important;
}

.smoke {
	color: $smoke !important;
}

.black {
	color: $black !important;
}

.primary {
	color: $primary-color !important;
}

.secondary-color {
	color: $secondary-color !important;
}

.marine {
	color: $marine !important;
}

.silver {
	color: $silver !important;
}

.vapor {
	color: $vapor !important;
}

.aqua {
	color: $aqua !important;
}

/**
 * Backgronds
 * ---------------------------------------------------
 */
.bg-white {
	background-color: $white !important;
}

.bg-ghost {
	background-color: $ghost !important;
}

.bg-white-smoke {
	background-color: $white-smoke !important;
}

.bg-smoke {
	background-color: $smoke !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-primary {
	background-color: $primary-color !important;
}

.bg-secondary {
	background-color: $secondary-color !important;
}

.bg-marine {
	background-color: $marine !important;
}

.bg-silver {
	background-color: $silver !important;
}

.bg-aqua {
	background-color: $aqua !important;
}

.bg-cover {
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/**
 * Block display
 * ---------------------------------------------------
 */
.d-block {
	display: block !important;
}
.d-iblock {
	display: inline-block !important;
}
.d-table {
	display: table;
}
.middle {
	display: table-cell;
	vertical-align: middle;
}
.full-height {
	height: 100%;
}

/**
 * Block paddings
 * ---------------------------------------------------
 */
.pad-center-10 {
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(10);
}

.pad-center-20 {
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(20);
}

.pad-center-30 {
	padding-top: rem-calc(30);
	padding-bottom: rem-calc(30);
}

.pad-center-40 {
	padding-top: rem-calc(40);
	padding-bottom: rem-calc(40);
}

.pad-center-60 {
	padding-top: rem-calc(60);
	padding-bottom: rem-calc(60);
}

/**
 * Margins
 * ---------------------------------------------------
 */
.no-margin {
	margin: 0;
}

.divide-10 {
	@extend .small-14;
	@extend .left;
	margin-bottom: 10px;
}

.divide-20 {
	@extend .small-14;
	@extend .left;
	margin-bottom: 20px;
}

.divide-30 {
	@extend .small-14;
	@extend .left;
	margin-bottom: 30px;
}

.divide-40 {
	@extend .small-14;
	@extend .left;
	margin-bottom: 40px;
}

.divide-60 {
	@extend .small-14;
	@extend .left;
	margin-bottom: 60px;
}

/**
 * Positions
 * ---------------------------------------------------
 */
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.p-left {
	left: 0;
}
.p-right {
	right: 0;
}
.p-bottom {
	bottom: 0;
}
.p-top {
	top: 0;
}

/**
 * bordas
 * ---------------------------------------------------
 */
.g-radius {
	border-radius: $global-radius;
}