.icon-big-calendar {
  background-image: url(images/spritesheet.png);
  background-position: -494px -382px;
  width: 40px;
  height: 39px;
}
.icon-calendar {
  background-image: url(images/spritesheet.png);
  background-position: -554px -166px;
  width: 31px;
  height: 30px;
}
.icon-chat {
  background-image: url(images/spritesheet.png);
  background-position: -494px -421px;
  width: 45px;
  height: 36px;
}
.icon-css3 {
  background-image: url(images/spritesheet.png);
  background-position: -538px -334px;
  width: 44px;
  height: 48px;
}
.icon-dc {
  background-image: url(images/spritesheet.png);
  background-position: -494px -226px;
  width: 72px;
  height: 54px;
}
.icon-doctor {
  background-image: url(images/spritesheet.png);
  background-position: 0px 0px;
  width: 494px;
  height: 574px;
}
.icon-get-down {
  background-image: url(images/spritesheet.png);
  background-position: -494px 0px;
  width: 96px;
  height: 95px;
}
.icon-group {
  background-image: url(images/spritesheet.png);
  background-position: -539px -421px;
  width: 44px;
  height: 20px;
}
.icon-html5 {
  background-image: url(images/spritesheet.png);
  background-position: -494px -334px;
  width: 44px;
  height: 48px;
}
.icon-join {
  background-image: url(images/spritesheet.png);
  background-position: -534px -382px;
  width: 38px;
  height: 38px;
}
.icon-list {
  background-image: url(images/spritesheet.png);
  background-position: -549px -280px;
  width: 40px;
  height: 40px;
}
.icon-p-calendar {
  background-image: url(images/spritesheet.png);
  background-position: -494px -280px;
  width: 55px;
  height: 54px;
}
.icon-plan {
  background-image: url(images/spritesheet.png);
  background-position: -554px -196px;
  width: 24px;
  height: 27px;
}
.icon-top {
  background-image: url(images/spritesheet.png);
  background-position: -494px -166px;
  width: 60px;
  height: 60px;
}
.icon-trofeu {
  background-image: url(images/spritesheet.png);
  background-position: -494px -95px;
  width: 77px;
  height: 71px;
}
.icon-user-hover {
  background-image: url(images/spritesheet.png);
  background-position: -566px -226px;
  width: 21px;
  height: 21px;
}
.icon-user {
  background-image: url(images/spritesheet.png);
  background-position: -566px -247px;
  width: 21px;
  height: 21px;
}
